/* Spotify Now Playing Styles - PyQt6 */

QMainWindow {
    background-color: #000000;
}

#container {
    background-color: #000000;
}

#albumArt {
    background-color: #000000;
    border: none;
}

#title {
    color: #FFFFFF;
    font-size: 18pt;
    font-weight: bold;
    background-color: #000000;
    padding: 5px 0px;
}

#artist {
    color: #FFFFFF;
    font-size: 14pt;
    background-color: #000000;
    padding: 3px 0px;
}

#info {
    color: #888888;
    font-size: 10pt;
    background-color: #000000;
    padding: 2px 0px;
}
/* Spotify Now Playing Styles */

* {
    background-color: #000000;
    background: #000000;
}

window {
    background-color: #000000;
    background: #000000;
}

box {
    background-color: #000000;
    background: #000000;
}

.container {
    background-color: #000000;
    background: #000000;
}

.album-art {
    background-color: #000000;
    background: #000000;
    padding: 0;
}

image {
    background-color: #000000;
    background: #000000;
}

label {
    background-color: #000000;
    background: #000000;
}

.title {
    color: #FFFFFF;
    font-size: 18pt;
    font-weight: bold;
    padding: 5px 0;
    background-color: #000000;
    background: #000000;
}

.artist {
    color: #FFFFFF;
    font-size: 14pt;
    padding: 3px 0;
    background-color: #000000;
    background: #000000;
}

.info {
    color: #888888;
    font-size: 10pt;
    padding: 2px 0;
    background-color: #000000;
    background: #000000;
}
/* Spotify Now Playing Styles */

window {
    background-color: #123456;
}

.container {
    background-color: #000000;
}

.album-art {
    background-color: #000000;
    padding: 0;
}

.title {
    color: #FF0000;
    font-size: 18pt;
    font-weight: bold;
    padding: 5px 0;
}

.artist {
    color: #FFFFFF;
    font-size: 14pt;
    padding: 3px 0;
}

.info {
    color: #888888;
    font-size: 10pt;
    padding: 2px 0;
}
